@import 'src/styles/common.scss';

.language {
  @include flex(space-between, center);
  @include fontFamily($fontDancingScript);
  width: 2rem;
  margin: 0 .5rem;

  &__icon {
    font-size: 3.2em;
    color: $mainColor;

    @include tablet {
      font-size: 2em;
    }
  }

  &__select {
    @include fontFamily($fontDancingScript);
    border: none;
    outline: none;
    font-size: 2em;
    background-color: $whiteColor;

    @include tablet {
      margin-bottom: .3rem;
    }
  }

  &__option {
    @include fontFamily($fontDancingScript);
  }
}
