$secondaryColor: rgb(10, 10, 10);
$mainColor: #ab7a5f;
$whiteColor: #fff;
$lighterBlackColor: #343a40;
$lighterRedColor: #cf1717;
$lighterGrayColor: #f5f5f5;
$greenSuccessColor: #28a745;
$darkGreen: #1d3c45;
$lighterYellowColor: rgba(238, 238, 0, 1);
$purpleColor:#E11584;