@import 'src/styles/common.scss';

.ingredients {
  height: 80%;
  width: 50%;
  @include flex(flex-start, center);
  flex-direction: column;
  flex-wrap: wrap;

  &__button {
    margin: .5rem 1rem;
    padding: 0.2rem 0.6rem;
    font-size: 2em;
    color: black !important;
    border-radius: 10%;
    border: none;
    cursor: pointer;

    &:hover {
      background: $purpleColor;
      color: $whiteColor !important;
      transform: scale(1.1);
    }
  }

  &-vegetables {
    margin: 2rem .5rem;
  }

  &-size {
    margin-top: 2rem;
  }

  &__label{
    text-align: center;
    margin: 2rem 0;
  }
}
