@import 'src/styles/common';

#root {
  height: 100%;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 1 auto;
}

.app-overlay {
  position: fixed;
  z-index: 5;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
}
