@import 'src/styles/common.scss';

.navbar {
  @include flex(space-between, center);
  height: 8rem;

  &__container {
    @include flex(space-between, center);
    flex: .5;

    @include netbook {
      display: none;
    }
  }

  &__logo {
    width: 6rem;
    height: 6rem;
    margin-left: 2rem;
    border-radius: 20%;
    @include tablet {
      display: none;
    }
  }

  &__menu {
    @include flex(space-evenly, center);

    &_link {
      padding-left: 1rem;
    }
  }

  &__hamburger {
    @extend %button;
    color: $mainColor;
    display: none;

    @include netbook {
      display: block;
      margin-right: 1rem;
    }
  }
}

.navbar_menu:first-child {
  padding-left: 3rem;
}

.logo {
  border: none;

  &:hover {
    border: none;
  }
}

.dropdown {
  @include fontFamily($fontDancingScript);
  @include flex(center, center);
  flex-direction: column;
  position: relative;
  height: 10rem;

  &-group{
    @include flex(center, center);
  }

  &__activator {
    @include fontFamily($fontDancingScript);
    background: transparent;
    border: none;
    padding-left: 1rem;
    text-transform: capitalize;
    font-size: 2em;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid #ab7a5f;
    }

    &-container {
      @include flex(center, center);
    }
  }

  &__menu {
    position: absolute;
    bottom: 0;
    left: 10%;
    border-radius: 10%;
    padding: .6rem .4rem;
    background: $lighterGrayColor;

    &_link {
      color: $secondaryColor;
      font-size: 1.8em;
    }
  }

  &__icon {
    margin-left: .5em;
    font-size: .6em;
    margin-top: .2rem;
  }
}