@import 'src/styles/common.scss';

.motto {
  @include flex(space-evenly, center);
  flex-wrap: wrap;

  &__image {
    margin-top: 1rem;
    width: 40rem;
    height: 30rem;

    @include tablet {
      width: 30rem;
      height: 25rem;
    }

    @include mobile {
      width: 20rem;
      height: 20rem;
    }
  }

  &__text {
    @include flex(center, center);
    flex-direction: column;
    color: $whiteColor;
    margin-right: 1rem;
    text-align: center;

    &-main {
      @include fontFamily($fontStyleScript);
      padding-bottom: 2rem;
      font-size: 3.2em;
      color: $lighterRedColor;

      @include tablet {
        font-size: 2em;
      }
    }

    &-secondary {
      @include fontFamily($fontDancingScript);
      font-size: 3.2em;
      color: $lighterRedColor;
      text-align: center;

      @include tablet {
        font-size: 2.6em;
      }

      @include mobile {
        margin-bottom: 1rem;
      }
    }
  }
}
