@import 'src/styles/common.scss';

.slider {
  @include flex(center, center);
  height: 33rem;
  padding-bottom: 2rem;
  margin: 1rem 2rem;
  max-width: 100%;

  @include mobile {
    height: 18rem;
  }

  &__image {
    position: relative;
    height: 30rem;
    width: 100%;
    max-height: 100%;
    border-radius: 2%;
    transition: all 1s ease-in;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.arrow {
  position: absolute;
  @extend %sliderIcon;
  top: 40%;
  &-right {
    right: 18%;
  }

  &-left {
    left: 18%;
  }

  @include mobile {
    display: none;
  }
}
