@import 'src/styles/common.scss';

.grid {
  margin: 2rem 0;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

  &__image {
    @include netbook {
      width: 15rem;
      height: 15rem;
      margin: 0 auto;
    }
  }

  &__container {
    @include flex(normal, normal);
    flex-direction: column;
    position: relative;

    &:hover .grid__image {
      opacity: .5;
    }

    &:hover .product__buy_link {
      opacity: 1;
    }
  }

  &__image {
    transition: all .4s ease-in;
    background-color: $whiteColor;
  }

  &__info {
    margin-top: 1.5rem;
    @include flex(space-around, center);
    flex-wrap: wrap;
  }
}

.product__buy_link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 50%;
  color: $mainColor;
  opacity: 0;
  cursor: pointer;
  transition: all .6s ease-in;
}

.product__buy_icon {
  font-size: 4rem;
}
